:root {
  --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.dot {
  stroke: rgb(0, 0, 0);

  opacity: 0.5;
}

.dot:hover {
  fill: white;
  opacity: 1;
}

body {
  background-color: rgb(46, 46, 46);
}

#tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: rgb(222, 176, 218);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#title {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: rgb(203, 217, 230);
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 10px rgb(28, 59, 87);
  text-transform: uppercase;
  font-family: var(--main-font);
}

.legend-label {
  font-family: var(--main-font);
}

.chart-title {
  font-family: var(--main-font);
}
.chart-subtitle {
  font-family: var(--main-font);
}
.axis-label {
  font-family: var(--main-font);
  text-transform: uppercase;
}

.tick {
  font-family: var(--main-font);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  height: 100%;
  width: 100%;
}

.chart {
  background-color: #c0c0c0;
  border-radius: 35px;
  display: flex;
  box-shadow: 5px 4px 5px;
}

/* .axis-label {
} */

.axis text {
  font-family: fantasy;
  font-size: 10px; /* Optionally, adjust the font size */
}
